<div class="header4">
  <div class="header_title">
    Complete!
  </div>
</div>

<p>Post has been completedï¼</p>
<a class="btn" href="/messages">Back to post list</a>

<footer>
  copylight : matsumoto
</footer>
