<div class="header3">
  <div class="header_title">
    Delete!
  </div>
</div>

<p>Deletion is complete！</p>
<a class="btn" href="/">Back to post list</a>


<footer>
  copylight : matsumoto
</footer>
