<div class="header5">
  <div class="header_title">
    Updated!
  </div>
</div>

<div class="contents row">
  <div class="success">
    <h3>
      Update completedï¼
    </h3>
    <a class="btn" href="/">Back to post list</a>
  </div>
</div>
